.navbar{
  /* Black navbar at the top */
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
}

.navbar-container{
  /* all items will be horizontal */
  display: flex;
  align-items: center;
  /* add padding to display navbar items hidden under sidebar */
  padding: 0 50px;
  /* container height of navbar */
  height: 100%;
  color: white;
  font-family: 'San', sans-serif;
}

.logo-container{
  flex: 1;
}

.logo{
  font-size: 30px;
  color: #4dbf00;
}

.menu-container{
  /* 6 times larger than logo-container */
  flex: 6;
}

.menu-list{
  /* makes horizontal */
  display: flex;
  /* removes dot style from list */
  list-style: none;
  cursor: pointer;
}

.menu-list-item{
  /* adds a margin around list items */
  margin-right: 30px;
  text-decoration: none;
  color: white;
}

.menu-list-item.active{
  font-weight: bold;
}

.profile-container{
  flex: 2;
  display: flex;
  align-items: center;
  /* moves profile content to the right */
  justify-content: flex-end;
}

.profile-text-container{
  /* sets margin on profile but text only */
  margin: 0 20px;
  float: left;
  overflow: hidden;
}

.profile-login-text{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: none;
}

.profile-picture{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* makes image not look smashed */
  object-fit: cover;
}

/*  Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile-text-container .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar li:hover, .profile-login-text:hover, .profile-text-container:hover .dropbtn {
  text-decoration: underline;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.profile-text-container:hover .dropdown-content {
  display: block;
}

/* Toggle */

.toggle{
  /* create toggle style */
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  /* puts a space around the sun and moon icons */
  justify-content: space-around;
  /* so toggle ball will display */
  position: relative;
}

.toggle-icon{
  /* allows icons to show */
  color: goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all
}
